{{!-- <style>
    .footer{
        
        position:relative;
        bottom:0;
        background-color:grey;
        margin-top:100px;
    }
</style>
<div class = "footer">
    <img src = "/images/Logo.jpg" alt = "logo" id = "logo">
    <p> &nbsp;University of Patras 2022-2023 &nbsp;</p>
    <p> Made by A. Moraitis / F. Herodotou </p>
</div>   --}}

<style>
    .footer {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f0f0f0;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        color: #888;
    }

    .footer #logo {
        height: 30px;
        margin-right: 10px;
    }
</style>
<div class="footer">
    <img src="/images/Logo.jpg" alt="logo" id="logo">
    <p>&copy; University of Patras 2022-2023</p>
    <p>Made by A. Moraitis / F. Herodotou</p>
</div>
