<ul class = "navigation">
    <li><a href= "/homepage.hbs">Αρχική</a></li>                
    <li><a href="/schedule.hbs">Προγράμματα</a></li>
    <li><a href="/secretary.hbs">Γραμματεία</a></li>
    <li><a href="/contact.hbs" >Επικοινωνία</a></li>
</ul>