{{>index}}
{{>navbar}}


<!-- The News -->
<div class = "news">
    {{#if admin}}
        <button id = "add-news">Προσθήκη ανακοίνωσης</button>
        <form action = "/homepage.hbs" method = "get">
            <input type = "text" placeholder = "Τίτλος"><br>
            <input type = "text" placeholder = "Περιεχόμενο"><br>
            <button id = "save-news">Αποθήκευση</button>
        </form>
    {{/if}} 
    {{#each posts}}
        <div class = "post">
            <h1>{{title}}</h1>
            <p>{{content}}</p>
            {{#if admin}}
            <button class = "delete-post">Διαγραφή</button>
            {{/if}}
        </div>
    {{/each}}
    
    <p style="display:flex; justify-content:space-around; font-size:30px;">Ανακοινώσεις</p>
    <ul class = "news">
        <li>Ετήσιο Συνέδριο του τμήματος ΗΜΤΥ<p style = "display:none">Το ετήσιο συνέδριο του τμήματος Ηλεκτρολόγων Μηχανικών και Τεχνολογίας Υπολογιστών θα πραγματοποιηθεί στις 25/6/2023 με κεντρική θεματολογία την εξέλιξη της τεχνητής νοημοσύνης και την επίδραση της στην αγορά εργασίας. 
            Θα πραγματοποιηθούν ομιλίες των καθηγητών του τμήματος παράλληλα με επειδήξεις project φοιτητών του τμήματος στο πλαίσιο αυτής της θεματικής.</p>
        </li>
        <li>Προκήρυξη θέσεων φοιτητών για ερευνητικά προγράμματα<p style = "display:none">Το Τμήμα Ηλεκτρολόγων Μηχανικών ανακοινώνει την προκήρυξη θέσεων φοιτητών για συμμετοχή σε ερευνητικά προγράμματα στο πλαίσιο συνεργασίας με εταιρείες και ερευνητικά ινστιτούτα. Οι ενδιαφερόμενοι φοιτητές μπορούν να υποβάλλουν τις αιτήσεις τους μέχρι την προθεσμία της 30ης Ιουνίου 2023.</p></li>
        <li>Σεμινάριο<p style = "display:none">Το Τμήμα Ηλεκτρολόγων Μηχανικών διοργανώνει σεμινάριο με θέμα "Νέες τάσεις στην ηλεκτρονική και την ενεργειακή απόδοση". Το σεμινάριο θα πραγματοποιηθεί στις 15 Ιουλίου 2023 στο αμφιθέατρο του κτηρίου ΤΗΜ. Οι φοιτητές και οι ερευνητές καλούνται να παρακολουθήσουν τις ενδιαφέρουσες ομιλίες και να συμμετάσχουν στις συζητήσεις.</p></li>
        <li>Παρουσίαση προπτυχιακών εργασιών<p style = "display:none">Η παρουσίαση των προπτυχιακών εργασιών των φοιτητών του Τμήματος Ηλεκτρολόγων Μηχανικών θα λάβει χώρα στις 10 και 11 Οκτωβρίου 2023. Οι φοιτητές πρέπει να υποβάλλουν τις εργασίες τους και να επικοινωνήσουν με τη γραμματεία του τμήματος για τη διαδικασία παρουσίασης.</p></li>
        <li>Πρόσκληση για συμμετοχή σε ερευνητικό έργο<p style = "display:none">Το Τμήμα Ηλεκτρολόγων Μηχανικών προσκαλεί τους φοιτητές να συμμετάσχουν σε ερευνητικό έργο με θέμα "Ανάπτυξη και βελτιστοποίηση ηλεκτρονικών κυκλωμάτων". Οι ενδιαφερόμενοι φοιτητές πρέπει να υποβάλλουν τις αιτήσεις τους μέχρι την 1η Νοεμβρίου 2023 και να παρακολουθήσουν συνέντευξη για την αξιολόγηση της συμμετοχής τους.</p></li>
    </ul>
</div>    
{{> footer}}
<script defer src = "/scripts/homepage.js"></script>
