{{>index}}
{{>navbar}}
<div class = "certifications-log">
    <ul>Αιτήσεις πιστοποιητικών</ul>
    <ul>Τα πιστοποιητικά μου</ul>
</div>
<div class = "certify">
    <p>Πραγματοποιήστε αίτημα έκδοσης πιστοπποιητικού</p>
    <form action = "#" method = "post">
        <legend>Είδος πιστοποιητικού</legend>
        <select>
            <option ></option>
            <option id = "studies">Φοίτησης</option>
            <option id = "acad-title">Τίτλου Σπουδών</option>
            <option id = "acad-progress">Ακαδημαϊκής Προόδου</option>
            <option id = "thesis">Διπλωματική Εργασία</option>
            
        </select>
    </form>
</div>
<div class = "myTranscripts">
    <p>Πιστοποιητικά μου</p>
    <ul>
        <li>Πιστοποιητικό Φοίτησης</li>
        <li>Πιστοποιητικό Τίτλου Σπουδών</li>
        <li>Πιστοποιητικό Ακαδημαϊκής Προόδου</li>
        <li>Πιστοποιητικό Διπλωματικής Εργασίας</li>
    </ul>
</div>
{{> footer}}