
    {{>index}}
    {{>navbar}}
    <h1>Welcome {{userName}}</h1>
    <h1>Profile</h1>
    <ul>
        <li>Name:</li>
        <li>Year:</li>
        <li>Phone:</li>
        <li>E-mail</li>
    </ul>
    <ul title = "Transcripts"></ul>
    
    
