{{>index}}
{{>navbar}}

<div class = "image-slideshow">
    <div class = "container">
        <div class = "slide"></div>
        <div class = "section"></div>
    </div>
    
</div>
<!-- The News -->
<div class = "news">
    {{#if admin}}
        <button id = "add-news">Προσθήκη ανακοίνωσης</button>
        <form action = "/homepage.hbs" method = "get">
            <input type = "text" placeholder = "Τίτλος"><br>
            <input type = "text" placeholder = "Περιεχόμενο"><br>
            <button id = "save-news">Αποθήκευση</button>
        </form>
    {{/if}} 
    {{#each posts}}
        <div class = "post">
            <h1>{{title}}adsfsdfsdf</h1>
            <p>{{content}}a</p>
            {{#if admin}}
            <button class = "delete-post">Διαγραφή</button>
            {{/if}}
        </div>
    {{/each}}
    
</div>    
<script defer src = "/scripts/homepage.js"></script>
