{{>index}}
{{>navbar}}

<div class = "image-slideshow">
    <div class = "container">
        <div class = "slide"></div>
        <div class = "section"></div>
    </div>
    
</div>
<!-- The News -->
<div class = "news">
    {{#if admin}}
        <button id = "add-news">Προσθήκη ανακοίνωσης</button>
        <form action = "/homepage.hbs" method = "get">
            <input type = "text" placeholder = "Τίτλος"><br>
            <input type = "text" placeholder = "Περιεχόμενο"><br>
            <button id = "save-news">Αποθήκευση</button>
        </form>
    {{/if}} 
    {{#each posts}}
        <div class = "post">
            <h1>{{title}}</h1>
            <p>{{content}}</p>
            {{#if admin}}
            <button class = "delete-post">Διαγραφή</button>
            {{/if}}
        </div>
    {{/each}}
    
    <p>Ανακοινώσεις</p>
    <ul class = "news">
        <li>Ετήσιο Συνέδριο του τμήματος ΗΜΤΥ<p class = "one" style = "display:none">Το ετήσιο συνέδριο του τμήματος Ηλεκτρολόγων Μηχανικών και Τεχνολογίας Υπολογιστών θα πραγματοποιηθεί στις 25/6/2023 με κεντρική θεματολογία την εξέλιξη της τεχνητής νοημοσύνης και την επίδραση της στην αγορά εργασίας. 
            Θα πραγματοποιηθούν ομιλίες των καθηγητών του τμήματος παράλληλα με επειδήξεις project φοιτητών του τμήματος στο πλαίσιο αυτής της θεματικής.</p>
        </li>
        <li></li>
        <li>Ανακοίνωση 3</li>
        <li>Ανακοίνωση 4</li>
        <li>Ανακοίνωση 5</li>
    </ul>
</div>    
{{> footer}}
<script defer src = "/scripts/homepage.js"></script>
