{{>index}}
{{>navbar}}

<div class = "events">
    <div class="slideshow-container">
        <img src="/images/img1.jpg" alt="Event 1">
        <img src="/images/img2.jpg" alt="Event 2">
        <img src="/images/img3.jpg" alt="Event 3">
        
        <div class="prev">&#10094;</div>
        <div class="next">&#10095;</div>
        
        <div class="event-title">Event 1</div>
    </div>
    
    <div class="dots"></div>
</div>  
<div class = "news">
    {{#if admin}}
        <button id = "add-news">Προσθήκη ανακοίνωσης</button>
        <form action = "/homepage.hbs" method = "get">
            <input type = "text" placeholder = "Τίτλος"><br>
            <input type = "text" placeholder = "Περιεχόμενο"><br>
            <button id = "save-news">Αποθήκευση</button>
        </form>
    {{/if}} 
    {{#each posts}}
        <div class = "post">
            <h1>{{title}}adsfsdfsdf</h1>
            <p>{{content}}a</p>
            {{#if admin}}
            <button class = "delete-post">Διαγραφή</button>
            {{/if}}
        </div>
    {{/each}}
    
</div>    
<script defer src = "/scripts/homepage.js"></script>
