<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Compass 
       
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">
    <link rel="stylesheet" href="/Stylesheets/LogStyle.css">
    <script defer src="/scripts/LogScript.js"></script>
</head>
<body>
    <a href = "/homepage.hbs"><img class = "main-logo" src = "/images/logo.png"></a>
    <div class ="primary-buttons">
        <button id = "user">Student</button>
        <button id = "admin">Staff</button>
    </div>
    <div class ="secondary-buttons" style = "display: none;">
        <button id = "sign-up">Sign Up</button>
        <button id = "log-in">Log In</button>
        
    </div>
    <div class ="login-user">
        <form action = "homepage.hbs" method = "get">
            <label for="username">Username</label>
            <input type="text" id="log-username" name="username" placeholder="Your username.."><br><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" placeholder="Your password.."><br><br>
            <button type = "submit" id = "log-submit">Log In</button>
            
        </form>
    </div>
    <div class ="login-admin">
        <form>
            <label for="username">Username</label>
            <input type="text" id="log-username" name="username" placeholder="Your username.."><br><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password.."><br><br>
            <button type = "submit" id = "log-submit">Log In</button>
            
        </form>
    </div>
    <div class="signup-form">
        <form>
            <label for="sign-username">Username</label>
            <input type="text" id="sign-username"  placeholder="Your username.."><br><br>
            <label for="email">Email</label>
            <input type="text" id="email"  placeholder="Your email.."><br><br>
            <label for="password">Password</label>
            <input type="text" id="password"  placeholder="Your password.."><br><br>
            {{!-- <label for="password2">Confirm Password</label>
            <input type="text" id="password2" name="password2" placeholder="Your password.."><br><br> --}}
            <input type = "submit" id = "sign-submit"></input>
            
        </form>
        
    </div>
   <a href = "/"><button id = "back" style = "display:none;">Back</button></a>
</body>
</html>
{{> footer}}