{{>index}}
{{>navbar}}
<div class = "certifications-log">
    <ul>Αιτήσεις πιστοποιητικών</ul>
    <ul>Τα πιστοποιητικά μου</ul>
</div>
<div class = "certify">
    <p>Πραγματοποιήστε αίτημα έκδοσης πιστοπποιητικού</p>
    <form>
        <legend>Είδος πιστοποιητικού</legend>
        <select>
            <option ></option>
            <option id = "studies">Φοίτησης</option>
            <option id = "acad-title">Τίτλου Σπουδών</option>
            <option id = "acad-progress">Ακαδημαϊκής Προόδου</option>
            <option id = "thesis">Διπλωματική Εργασία</option>
            
        </select>
        


    </form>
</div>